$colorButton: #673ab7;
$colorButtonLigther: #9575cd;

.card {
  width: 325px;
  height: 575px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5em;
  margin-bottom: 3em;

  .screen {
    position: relative;
    padding: 5%;
    padding-top: 15%;
    margin: 20px 20px -20px 20px;    
    overflow: hidden;
    text-align: right;
    font-size: 35px;    
    font-weight: 500;
  }

  .numpad {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    ul {
      list-style: none;
      padding: 0;
      margin: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;      

      li {        
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: rgb(241, 240, 240);
        font-weight: 600;
        margin: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .backspace {
            height: 21px;
            width: 21px;            
        }

        &:hover {
            background-color: rgb(212, 212, 212);
        }
      }
    }
  }

  .action {
      display: inline-flex;      
      justify-content: center;
      width: 100%;

      button {
        width: 90%;
        height: 50px;
        font-size: 20px;
        border: 2px solid #2196f3;
        background-color: transparent;
        color: #2196f3;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: #2196f3;
            color: #fff;
        }
      }
  }
}
