<div class="card">
  <div class="screen">$<span #screenValue></span></div>
  <div class="numpad">
    <div>
        <ul>
            <li *ngFor="let pad of numpad" (click)="calcValue(pad)">
              <span class="backspace" *ngIf="pad === 'delete'">
                  <img src="../assets/backspace-svgrepo-com.svg" alt="">
              </span>
              <span *ngIf="pad !== 'delete'">{{ pad }}</span>
            </li>
          </ul>
    </div>
  </div>
  <div class="action">
    <button class="withdraw" (click)="withdrawMoney()">Withdraw</button>
  </div>
</div>

<app-modal *ngIf="openModal" (close)="closeModal()" [message]="message"></app-modal>