<div class="modal-container">
  <input #modal id="modal-toggle" type="checkbox" class="active">
  <label class="modal-backdrop" for="modal-toggle"></label>
  <div class="modal-content" [ngClass]="{'success':success}">
    <p>{{message.title}}</p>
    <hr />
    <p *ngIf="message.title != 'Success'">{{message.body}}</p>
    <span *ngIf="message.title == 'Success'">
      <p>Please take your cash</p>
      <ul>
        <li class="bank" *ngFor="let banknote of banknotes">
          <img src="../assets/banknote-dollar-svgrepo-com.svg" alt="">
        {{banknote}}
        </li>
      </ul>
    </span>

    <hr />
    <label class="modal-content-btn" for="modal-toggle" (click)="closeModal()">Close</label>
  </div>
</div>
