.modal-container {
  margin: 60px auto;
  padding-top: 0px;
  position: relative;
  width: 160px;

  .modal-content,
  .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }
  .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 11px;
    right: 30px;
    background: #9e9e9e;
    color: #fff;
    width: 85px;
    border-radius: 5px;
    border: 4px solid #bdbdbd;
    font-size: 20px;
    height: 32px;
    padding-top: 8px;
    font-weight: normal;
    &:hover {
      color: #fff;
      background: #757575;
    }
  }
  #modal-toggle {
    display: none;
    &.active ~ .modal-backdrop,
    &:checked ~ .modal-backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s ease-in;
    }

    &.active ~ .modal-content,
    &:checked ~ .modal-content {
      opacity: 1;
      background-color: #fff;
      max-width: 400px;
      width: 400px;
      height: 320px;
      position: fixed;
      left: calc(50% - 200px);
      top: 12%;
      border-radius: 4px;
      z-index: 999;
      pointer-events: auto;
      cursor: auto;
      visibility: visible;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);

      p {
        font-size: 20px;
        padding-left: 15px;
      }

      hr {
        height: 1px;
        color: rgb(201, 201, 201);
        background-color: rgb(201, 201, 201);
        border: none;
      }
    }
  }
}

.bank {
  display: block;
  img {
    width: 30px;
    height: 30px;
  }
}
